/**Selector universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}
/*primero haremos odo de header para su apariencia*/
.container{
    width: 100%;
    height: 100px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 4px 14px 4px rgba(0,0,0,0.75);
}
/*menu de navegacion*/
.nadvar{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
/*menu a*/
.menu a{
    font-size: 19px;
    padding: 10px 20px;
    color: grey;
    transition: 0.5s;
}
.menu a:hover{
    background: rgba(0,0,0,0.5);
    color: white;
}
/*logo*/
.logo{
    font-size: 25px;
    cursor: pointer;
}
/*logo span*/
.logo span{
    color: grey;
}
/*clase responsive*/
.responsive{
    display: none;
}
/*BANER*/
.banner{
    width: 100%;
    height: 90vh;
    margin-top: 100px;
    background-image: url(./download.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.texto-banner{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.texto-banner h2{
    color: rgb(241, 10, 191);
    font-size: 50px;
    padding: 20px;
    background: rgba(235, 10, 10, 0.5);
}
.texto-banner p{
    color: rgb(29, 29, 230);
    font-size: 30px;
    padding-bottom: 30px;
    background: rgba(109, 230, 10, 0.5);
}
.texto-banner input{
    margin-top: 20px;
    padding: 20px 30px;
    background: rgb(12, 148, 158);
    width: 180px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
/*contenido*/
.texto{
    width: 100%;
    text-align: center;
    padding: 100px 0px;
}
.texto h2{
    font-size: 50px;
    color: rgb(21, 37, 180);
}
.img-main{
    width: 90%;
    height: auto;
    margin: auto;
}
.img-food{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.img-food img{
    width: 22%;
    height: 180px;
    margin: 10px;
    transition: 0.5s;
}
.img-food img:hover{
    filter: grayscale(3);
}
/*FOOTER*/
.footer{
    width: 100%;
    height: 200px;
    background: rgb(128, 128, 128);
}
.footer{
    width: 90;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer h2{
    color: white;
    font-size: 30px;
}
.sociales{
    display: flex;
    align-items: center;
    height: auto;
}
.sociales i{
    color: white;
    font-size: 50px;
    padding: 10px;
    transition: 0.5s;
    border-radius: 50%;
}
.sociales i:hover{
    background: rgba(228, 6, 191, 0.5);
    border-radius: 50%;
}